.hero_section{
  display: flex;
  position: relative;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background: var(--gradient); */
  overflow: hidden;
}

.hero_background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(/images/hero/hero_bg.webp);
  background-size: cover;
}
.profile-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
}
.square_small_profile_img {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* display: flex;
  flex-direction: row; */
  /* align-self: left; */
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.square_small_profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: scale(1.45) translateY(17%) translateX(-2%);
  transition: transform 0.3s ease-in-out;
  filter: invert(1);
}

.hero_text {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  padding: 5.25rem;
  justify-content: center;
  text-wrap: wrap;
  min-width: 40%;
  height: 100%;
  min-height: fit-content;
  gap: 1rem;
  /* background-color:red; */
  /* flex-wrap: wrap; */
}

.hero_text h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  flex-wrap: wrap;
}

.hero_text p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  margin-top: 1.5rem;
}

.hero_model_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 60%;
  height: 100vh;
  /* background: #e5e5e5; */
}

.hero-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 45px;
  width: 154px;
  height: 52px;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  will-change: transform;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  cursor: grab;
}

.x-button {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 45px;
   /* left: calc(50% - 25px); */
   width: 50px;
   height: 50px;
   background: #fff;
   border-radius: 50%;
   box-shadow: 0 30px 70px #3c00bd22;
   will-change: transform;
   cursor: pointer;
   z-index: 3;
   user-select: none;
   transition-property: opacity, transform;
   transition-duration: 0.5s;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.arrow {
  position: relative;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isArrow-left {
  transform: rotate(90deg);
}

.isArrow-right {
  transform: rotate(-90deg);
}

.hand {
  width: 30px;
  height: 30px;
  margin: 0 17px;
  overflow: hidden;
}

.hand-illustration {
  width: 30px;
  height: 30px;
  background-image: url(/images/hero/hands.webp);
  background-size: 30px 60px;
  background-position: top left;
}

.x-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  will-change: "transform";
}

.f-hero-h1 {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  /* gap: 0.5rem; */
  /* line-height: 1.2; */
}
/* Hero text slider starts */
.slide {
  /* position: relative;  */
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; 
  padding-top: 0;  */
  margin-top: 5px;
  --transform-translate-y: 0; 
  height: 52px;
  /* background-color: antiquewhite; */
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  padding-bottom: 0.2rem;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

.slide-span {
  display: flex; 
  /* padding-bottom: 0.5rem;  */
  gap: 0.25rem; 
  align-items: center; 
}
.slide-span img{
    width: 44px;
    height: 44px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: white;
  } 

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}


@media screen and (min-width:2800px) {
  .hero_text h1 {
    font-size: 5rem;
  }
  .hero_text p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1600px) {
  .hero_text {
    padding: 3rem;
    width: 100%;
    height: 100%;
  }
  .hero_text h1 {
    font-size: 2.5rem;
  }
  .hero_text p {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .slide-span img{
    width: 40px;
    height: 40px;
    padding: 0.35rem;
    border: 1px solid #ccc;
    background-color: white;
  } 
  
}
@media screen and (max-width: 1024px) {
  .square_small_profile_img img {
    filter: invert(0);
  }
}
@media screen and (max-width: 800px) {
  .hero_section {
    flex-direction: column;
    width: 100%;
  }
  .hero_text {
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
    padding: 0rem 3rem 0rem 2rem;
    width: 100%;
    height: 50vh;
  }
  .hero_text h1 {
    font-size: 2rem;
  }
  /* .hero_text p {
    font-size: 1rem;
  } */
  .hero_model_section {
    width: 100%;
    height: 50vh;
  }

  .hero-button {
    width: 120px;
    height: 40px;
    bottom: 20px;
    left: calc(50% - 60px);
  }
  .x-button {
    width: 40px;
    height: 40px;
    bottom: 20px;
    left: calc(50% - 20px);
  }
  .arrow-container {
    width: 20px;
    height: 20px;
  }
  .arrow {
    width: 12px;
    height: 12px;
  }
  .hand {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
  .hand-illustration {
    width: 20px;
    height: 20px;
    background-size: 20px 40px;
  }
  .slide {
    /* padding-left: 0.5rem;
    padding-right: 0.5rem;  */
    --transform-translate-y: 0; 
    height: 30px;
  }
   .slide-span img{
    width: 30px;
    height: 30px;
    padding: 0.25rem;
    border: 1px solid #ccc;
    background-color: white;
  } 
}

@media (max-width: 450px) {
  .hero_text {
    /* margin-top: 10rem; */
    gap: 0.5rem;
    /* background-color: royalblue; */
    
  }
  .hero_text h1 {
    font-size: 1.5rem;
  }
  .hero_text p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .f-hero-h1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .slide-span img{
    width: 20px;
    height: 20px;
    padding: 0.125rem;
    border: 1px solid #ccc;
    background-color: white;
  } 
}