.hero_section{
  display: flex;
  position: relative;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  /* background: var(--gradient); */
  overflow: hidden;
}

.hero_background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(/images/hero/hero_bg.webp);
  background-size: cover;
}
.hero_text {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  padding: 0rem 2.5rem 0rem 2.55rem;
  justify-content: center;
  min-width: 40%;
  height: 100%;
  min-height: fit-content;
  /* background-color:aqua; */
}

.hero_model_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 60%;
  height: 100vh;
  /* background: #e5e5e5; */
}

.hero-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 45px;
  width: 154px;
  height: 52px;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  will-change: transform;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  cursor: grab;
}

.x-button {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 45px;
   /* left: calc(50% - 25px); */
   width: 50px;
   height: 50px;
   background: #fff;
   border-radius: 50%;
   box-shadow: 0 30px 70px #3c00bd22;
   will-change: transform;
   cursor: pointer;
   z-index: 3;
   user-select: none;
   transition-property: opacity, transform;
   transition-duration: 0.5s;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.arrow {
  position: relative;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isArrow-left {
  transform: rotate(90deg);
}

.isArrow-right {
  transform: rotate(-90deg);
}

.hand {
  width: 30px;
  height: 30px;
  margin: 0 17px;
  overflow: hidden;
}

.hand-illustration {
  width: 30px;
  height: 30px;
  background-image: url(/images/hero/hands.webp);
  background-size: 30px 60px;
  background-position: top left;
}

.x-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  will-change: "transform";
}

@media screen and (max-width: 800px) {
  .hero_section {
    flex-direction: column;
    width: 100%;
  }
  .hero_text {
    width: 100%;
    height: 50vh;
  }
  .hero_model_section {
    width: 100%;
    height: 50vh;
  }

  .hero-button {
    width: 120px;
    height: 40px;
    bottom: 20px;
    left: calc(50% - 60px);
  }
  .x-button {
    width: 40px;
    height: 40px;
    bottom: 20px;
    left: calc(50% - 20px);
  }
  .arrow-container {
    width: 20px;
    height: 20px;
  }
  .arrow {
    width: 12px;
    height: 12px;
  }
  .hand {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
  .hand-illustration {
    width: 20px;
    height: 20px;
    background-size: 20px 40px;
  }
}