.title-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-badge {
  background-color: #282732;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 9999px;
  width: fit-content;
  font-size: 14px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .hero-badge {
    font-size: 16px;
  }
}

.hero-badge p {
  margin: 0;
}

.title-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .title-text {
    font-size: 48px;
    line-height: 1;
  }
}
