.navbar {
  position: fixed;
  width: 100%;
  left: 50%;
  /* padding: 1.25rem 1.25rem; */
  transform: translateX(-50%);
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.scrolled {
  top: 0;
  background-color: black;
}

.notScrolled {
  top: 0;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .notScrolled {
    top: 2.5rem;
  }
}

.inner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .desktop {
    display: flex;
    align-items: center;
  }

  .desktop ul {
    display: flex;
    gap: 2rem;
  }
}

.navItem {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.navText {
  transition: color 0.3s ease;
}

.navText:hover {
  color: white;
}

.underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navItem:hover .underline {
  width: 100%;
}

.contactBtn {
  display: flex;
}

.contactInner {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
}

.contactBtn:hover .contactInner {
  background-color: rgba(0, 0, 0, 0.5);
}

.contactText {
  transition: color 0.3s ease;
}

.contactBtn:hover .contactText {
  color: white;
}
