.navbar {
  position: fixed;
  width: 100%;
  left: 50%;
  padding: 1.25rem 1.25rem;
  transform: translateX(-50%);
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

/* Firefox fallback */
@supports not (backdrop-filter: blur(10px)) {
  .navbar.scrolled {
    background-color: black;
  }
}

.navbar.not-scrolled {
  top: 0;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.navbar .inner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  transition: transform 0.3s ease;
  position: relative;
}

@media (min-width: 768px) {
  .navbar .logo {
    font-size: 1.5rem;
  }
}

.navbar .logo::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar .logo:hover::after {
  width: 100%;
}

.navbar nav.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .navbar nav.desktop {
    display: flex;
    align-items: center;
  }

  .navbar nav.desktop ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.navbar nav.desktop ul li.group {
  position: relative;
  color: #fff;
}

.navbar nav.desktop ul li.group a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.navbar nav.desktop ul li.group span:first-child {
  transition: color 0.3s ease;
}

.navbar nav.desktop ul li.group:hover span:first-child {
  color: white;
}

.navbar nav.desktop ul li.group .underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar nav.desktop ul li.group:hover .underline {
  width: 100%;
}

.navbar .contact-btn {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.navbar .contact-btn .inner {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.navbar .contact-btn.group:hover .inner {
  background-color: rgba(40, 39, 50, 1);
}

.navbar .contact-btn .inner span {
  transition: color 0.3s ease;
}

.navbar .contact-btn.group:hover .inner span {
  color: white;
}