:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #0a0a0a;
  color: white;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cursor { 
  position: fixed;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid rgb(6, 114, 2);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 10000;
  will-change: transform;
  contain: layout style paint;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
section {
  width: 100dvw;
}
@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSans-Regular.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: 0%
}