:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

/* modern scroll */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Custom cursor styles */
.cursor { 
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color: #fff;
  z-index: 10000;
  border: 2px solid white;
  height: 140px;
  width: 140px;
  transition: all 300ms ease-out;
  pointer-events: none;
}

section {
  width: 100dvw;
}
