:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

/* modern scroll */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Custom cursor styles */
.cursor { 
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color: #fff;
  z-index: 10000;
  border: 2px solid white;
  height: 140px;
  width: 140px;
  transition: all 150ms ease-out;
  /* transition: all 0.8s ease; */
  pointer-events: none;
}
